/.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/*/*/*/*/.DS_Store

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

config/sync.yml
config/sync_thin.yml
/coverage

/.sass-cache
.ruby-version
.ruby-gemset
.vscode/

dump.rdb

rails_best_practices_output.html
unresolved_translation_issues.txt
/*.pdf
/.tags
/.tags1

db/schema.rb
Gemfile.lock